$body-color: slateblue;
body {
  color: $body-color;
  font-family: sans-serif;
  background: white;

  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; //don't wrap the content section
}

html{
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 50px;
  height: 100%;
  overflow-y: auto;
}
.panels {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  padding: 40px 40px;

}

@media only screen and (max-width: 420px) {
  .panels {
    padding-left: 12px;
    padding-right: 12px;
  }
}
//DISABLE ALL PADDIN AND MARGINS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

