$body-color: slateblue;
body {
  color: $body-color;
  font-family: sans-serif;
  background: whitesmoke;
}
//DISABLE ALL PADDIN AND MARGINS
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: sans-serif;
}
body{
  display: flex;
  height: 100%;
  overflow: hidden;
}

//MAIN APPLICATION
/**

  Application container
  Child option:
  - grow 1

  Container options
  - is a flex container
  - flex-direction: column
|---------------------------------------------|
|                 header                      |
|---------------------------------------------|
|content                                      |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|---------------------------------------------|

 */
.application-container{
  height: 100%;
  flex-grow: 1;
  //DEEFINE PARENT OPTION
  display: flex;
  flex-direction: column;
  background: black;
}

.content {
  flex-grow: 1;
  background: green;

  //DEEFINE PARENT OPTIONS
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  margin: 10px;
  overflow-y: auto;
}

//header and footer sticky

//HEADER
.header {
  background: aliceblue;
  flex-shrink: 0;
  /**
 * Lay out the children of this container with
 * flexbox, which is horizontal by default.
 */
  display: flex;
  /**
 * Make the container put as much space as possible
 * between its children, with the children at either
 * end laying flush against the container's edges.
 */
  justify-content: space-between;
}
.header-section {
  /**
   * Lay out the children of this container with
   * flexbox.
   */
  display: flex;
}
//END HEADER




.truncate-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}